
APP_ENV=dev
APP_SECRET=UknowableSecreet

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=smtp://localhost:2525?encryption=&auth_mode=
###< symfony/swiftmailer-bundle ###

###> jfoucher/mailocal ###
# Define these values if you want to use basic auth on your SMTP server
# make sure to update MAILER_URL above to include your username and password
# Example : MAILER_URL=smtp://username:password@localhost:2525?encryption=&auth_mode=
SMTP_SERVER_USER=
SMTP_SERVER_PASSWORD=
SMTP_SERVER_PORT=2525
###< jfoucher/mailocal ###