<div class="mailbox-controls">
    <!-- Check all button -->
    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
    </button>
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm trash"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans() }}</button>
        <button type="button" class="btn btn-default btn-sm mark-read"><i class="fa fa-envelope-open-o"></i> {{ 'Mark read'|trans() }}</button>
    </div>
    <!-- /.btn-group -->
    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
    {#<div class="pull-right">#}
    {#1-50/200#}
    {#<div class="btn-group">#}
    {#<button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>#}
    {#<button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>#}
    {#</div>#}
    {#<!-- /.btn-group -->#}
    {#</div>#}
    <!-- /.pull-right -->
</div>