@import '~@fortawesome/fontawesome-free/scss/v4-shims';

.mailbox-subject {
    b {
        display:block;
    }
    .mailbox-firstline {
        display:block;
        font-size: 0.8em;
        color: #aaa;
        font-weight: 300;
    }
}

.treeview-menu {
    li {
        a {
            span {
                max-width: 70%;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
            }
        }
    }
}


.col-md-8, .col-md-12, .col-md-4, .email-display{
    transition: all 100ms; //replace 200ms with time of your choice
}
.mailbox-name {
    color: #666;
}
.no-content {
    text-align: center;
    p {
        font-weight: 300;
        width: 80%;
        margin: 2em 10%;
        line-height: 130px;
        color: #aaa;
        border: 1px solid #eee;
        background: #f6f6f6;
    }
}

.email-text-content {
    p {
        padding: 2em 1em;
        font-weight: 300;
        width: 100%;
        margin: 2em 0;
        line-height: 1.5em;
        color: #777;
        border: 1px solid #eee;
        background: #F9F9F9;
    }
}

.mailbox-attachment {
    a {
        color: #999;
        font-size: 0.85em;
        span {
            display:inline;
        }
        i {
            display:inline;
            font-size: 1.4em;
        }
    }
}
.col-md-4 {
    .mailbox-subject {
        max-width: 200px;
        b {
            overflow-x: hidden;
            text-overflow: ellipsis;
        }

    }
    .mailbox-attachment {
        a {
            span {
                display:none;
            }
        }
    }
    .mailbox-name {
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}
.nav-tabs-custom {
    box-shadow: none;
}
.email-display{
    .box-title {
        span.addresses {
            font-size: 0.75em;
            font-weight: 300;
            margin-top: .5em;
            color: #999;
            display:block;
        }
        span.subject-label {
            display:none;
        }
        span.subject {

        }
    }
    .box-footer {
        a.attachment-download{

            display:inline-block;
            color: #999;
            font-size: 0.9em;
            span {
                display:inline-block;
            }
            i {
                color: #333;
                text-align:center;
                display:block;
                font-size: 3.4em;
                line-height: 1.4em;
            }
        }
    }
}
.mailbox-date {
    color: #999;
    font-size: 0.9em;
    display: block;
}
.mailbox-messages {
    max-height: 600px;
    overflow-y: scroll;
    tr {
        cursor: pointer;
        &.read {
            background: #FBFBFB;
            .mailbox-name {
                color: #999;
                font-weight: 300;
            }
            .mailbox-attachment {
                a {
                    color: #ccc;
                }
            }
            .mailbox-subject {
                b {
                    color: #999;
                    font-weight: 300;
                }
                .mailbox-firstline {
                    color: #ccc;
                    font-weight: 300;
                }
            }
            .mailbox-date {
                color: #ccc;
                font-weight: 300;
            }
        }
    }
}