<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
        {{ content }}
<div class="container footer dark">
    <div class="wide">
        <div class="item">
            <a class="dark" href="mailto:jfoucher@gmail.com">Contact</a>
        </div>
        <div class="item">
            <a class="dark small" href="https://jfoucher.com">Jonathan Foucher</a>
        </div>
        <div class="item">
            <a class="dark" href="https://github.com/jfoucher/mailocal">Github</a>
        </div>
    </div>
</div>
</body>
</html>